<div class="jumbotron">
  <div class="container-fluid bg-light text-center p-5">
    <h1 class="m-2">Pasotre</h1>
    <div class="m-2">
      <p>AI パーソナルトレーナーが<p>
      <p>今日のアナタにピッタリなトレーニングメニューを作ります</p>
    </div>
    <%= link_to "ユーザ登録する", signup_path, class: "btn btn-primary" %>
  </div>
</div>

