<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.email %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to Pasotre</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

<p>jQuery テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery 導入に成功！！");
  });
</script>