<%= javascript_pack_tag 'layouts/footer', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'layouts/footer', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="footerFixed">
  <footer>
    <div class="col-sm-12 footer-copyright">
      &copy; 2021 - PASOTRE by tmasuyama
    </div>
  </footer>
</div>