<header>
  <nav class="navbar navbar-expand-sm navbar-dark px-4" style="background: #444444;">
    <a class="navbar-brand" href="/">PASOTRE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="dropdown-item"><%= link_to 'About', about_path, class: 'link' %></li>
        <li class="dropdown-item"><%= link_to 'Planning', new_planning_path, class: 'link' %></li>
      </ul>
    </div>
  </nav>
</header>