<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pasotre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "user", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <li class="nav-item"><%= link_to "SignUp", new_user_registration_path %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-item" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>