<div class="card-deck">
  <% @menus.each do |menu| %>
    <div class="card m-2">
      <div class="card-body">
        <div class="card-title">
          <h5><%= menu.training.name %></h5>
        </div>
        <div class="card-text">
          <%= menu.count %> 回
        </div>
      </div>
    </div>
  <% end %>

</div>