<div class="card-deck">
  <div class="row">
    <% @menus.each do |menu| %>
      <div class="card col-md-3 m-2">
        <div class="card-body">
          <div class="card-title">
            <ul class="list-inline">
              <li class="list-inline-item"><h5 class="d-inline"><%= menu.training.name %></h5></li>
              <li class="list-inline-item">
                <div id="wkTxt2">
                  <strong title="<%= menu.training.description %>">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </strong>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-text">
            <%= menu.count %> 回
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">
<!--
$(function() {
  $("#wkTxt2").tooltip({
    show:false,
    hide:false
  });
});
//-->
</script>