<div class="card-deck">
  <div class="row">
    <% @menus.each do |menu| %>
      <div class="card col-md-4 p-2">
        <div class="card-body">
          <div class="card-title">
            <h5><%= menu.training.name %></h5>
              <div id="wkTxt2">
                <strong title="<%= menu.training.description %>">?</strong>
              </div>
          </div>
          <div class="card-text">
            <%= menu.count %> 回
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">
<!--
$(function() {
  $("#wkTxt2").tooltip({
    show:false,
    hide:false
  });
});
//-->
</script>