<div class="text-center my-5">
  <h1>TODAY'S  MENU</h1>
</div>

<div class="container">
<div class="row mb-5">
  <% @menus.each do |menu| %>
    <div class="col-sm-4 mb-4 text-center">
      <div class="card">
        <div class="card-header bg-light"><h4 class="my-4"><%= menu.training.name %></h4></div>
        <div class="card-body">
          <h4 class="card-title"><%= menu.count %> 回</h4>
            <strong title="<%= menu.training.description %>">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            </strong>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript">
<!--
$(function() {
  $("#wkTxt2").tooltip({
    show:false,
    hide:false
  });
});
//-->
</script>